{% extends "base.html" %}
{% load thumbnail %}
{% load i18n %}
{% block title %}{% trans "image" %} {{ image.name }}{% endblock %}
{% block body %}
{% thumbnail image.image_file "200x200" format="PNG" as image_thumb %}
    <a href="{{ image.image_file.url }}"><img src="{{ image_thumb.url }}" alt="{{ image.name }}" class="img-thumbnail"></a>
{% endthumbnail %}
    <table class="table">
        <tbody>
            <tr>
              <th>{% trans "image name" %}</th>
                <td>{{ image.name }}</td>
            </tr>
            <tr>
              <th>{% trans "camera" %}</th>
                <td>{{ image.exif.Make.val|default:"<i>unknown manufacturer</i>" }} {{ image.exif.Model.val|default:"<i>unknown model</i>" }}</td>
            </tr>
            <tr>
              <th>{% trans "file size" %}</th>
                <td>{{ image.image_file.size|filesizeformat }}</td>
            </tr>
            <tr>
              <th>{% trans "date taken" %}</th>
                <td>{{ image.exif.DateTimeOriginal.val }}</td>
            </tr>
            <tr>
              <th>{% trans "uploaded" %}</th>
                <td>{{ image.upload_date }}</td>
            </tr>
            <tr>
              <th>{% trans "actions" %}</th>
              <td>
                  <form name="remove-image" method="post" action="{% url "hosting:image_remove" image.pk %}">
                      {% csrf_token %}
                      <button class="btn btn-danger" type="submit">{% trans "delete" %}</button>
                  </form>
              </td>
            </tr>
        </tbody>
    </table>
{% endblock %}