{% extends "base.html" %}
{% load thumbnail %}
{% load i18n %}
{% block title %}{% trans "image list" %}{% endblock %}
{% block body %}
    <div class="container-fluid">
      {% if request.GET.remove == 'success' %}
          <div class="alert alert-primary" role="alert">
            {% trans "image has been removed successfully" %}
          </div>
      {% elif request.GET.remove == 'failed' %}
          <div class="alert alert-danger" role="alert">
            {% trans "can't remove image" %}
          </div>
    {% endif %}

    {% for image in images %}
        <div class="row">
            <div class="col-sm-2">
                {% thumbnail image.image_file "200x200" format="PNG" as image_thumb %}
                    <a href="{{ image.image_file.url }}"><img src="{{ image_thumb.url }}" alt="{{ image.name }}" class="img-thumbnail"></a>
                {% endthumbnail %}
            </div>
            <div class="col-sm-4">
                <table class="table">
                    <tbody>
                        <tr>
                          <th>{% trans "image name" %}</th>
                            <td>{{ image.name }}</td>
                        </tr>
                        <tr>
                          <th>{% trans "camera" %}</th>
                            <td>{{ image.exif.Make.val|default:_("unknown manufacturer") }} {{ image.exif.Model.val|default:_("unknown model") }}</td>
                        </tr>
                        <tr>
                          <th>{% trans "file size" %}</th>
                            <td>{{ image.image_file.size|filesizeformat }}</td>
                        </tr>
                        <tr>
                          <th>{% trans "date taken" %}</th>
                            <td>{{ image.exif.DateTimeOriginal.val|default:_("unknown") }}</td>
                        </tr>
                        <tr>
                          <th>{% trans "uploaded" %}</th>
                            <td>{{ image.upload_date }}</td>
                        </tr>
                        <tr>
                          <th>{% trans "actions" %}</th>
                          <td>
                              <form name="remove-image" method="post" action="{% url "hosting:image_remove" image.pk %}">
                                  {% csrf_token %}
                                <button class="btn btn-danger" type="submit">{% trans "delete" %}</button>
                              </form>
                          </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
    <nav aria-label="Pages">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_number }}">{% trans "previous" context "pagination" %}</a></li>
          {% for page in paginator.page_range %}
              <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
          {% endfor %}
        <li class="page-item"><a class="page-link" href="{{ paginator.next_page_number }}">{% trans "next" context "pagination" %}</a></li>
      </ul>
    </nav>
    </div>
{% endblock %}