{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "welcome to image hosting!" %}{% endblock %}
{% block body %}
    <div class="container-fluid">
<form name="image-upload" method="post" action="{% url "hosting:upload_handler" %}" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="form-group{%if field.image_file.errors %} error{%endif%}">
    <label for="{{ form.image_file.name }}">{% trans "image name" %}</label>
    {{ form.name }}
      <p class="text-danger">{{ form.name.errors }}</p>
  </div>
  <div class="form-group{%if field.image_file.errors %} error{%endif%}">
    <label for="{{ form.image_file.id_for_label }}">{% trans "image file" %}</label>
    {{ form.image_file }}
     <small id="uploadFieldInfo" class="text-muted">
      {% trans "max file size is" %}: 10 MB
    </small>
      <p class="text-danger">{{ form.image_file.errors }}</p>
  </div>
  <div class="form-group">
    <input class="btn btn-primary" type="submit" value="{% trans "upload" %}">
  </div>
</form>
    <p><a href="{% url "hosting:image_list" %}">{% trans "image list" %}</a></p>
    </div>

{% endblock %}
